.container
  max-width: $content-width
  margin: 0 auto

  .content
    padding: 0 10px

  &.product-archive
    .content
      display: flex
      flex-direction: row-reverse
      justify-content: flex-end

      #container
        width: 100%

      #sidebar
        align-self: baseline
        width: 30%
        background: #eee
        margin-right: 3.8%
        padding: 20px

        ul
          list-style: none
          margin-left: 0
          padding-left: 0
