.main-menu
  .container
    max-width: $content-width
    margin: 0 auto

    .content
      padding: 10px
      display: flex
      align-items: center

      .logo
        margin-right: auto

        a
          img
            max-height: 100px
            width: auto

      .links
        ul
          list-style: none
          margin-left: 0

          li
            display: inline-block

            a
              text-transform: uppercase
              text-decoration: none
              letter-spacing: $navigation-letter-spacing
              font-weight: 500
