$letter-spacing: 0.025em
$line-height: 1.75em
$navigation-letter-spacing: 0.1em
$content-width: 1140px

//***********************************************
// Colors
//***********************************************

$color-ui-dark: #666
$color-ui-light: #ddd
